
h1{
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;

}
p{
	padding-left: 15%;
	padding-right: 15%;
}

.pcontainer{
	padding-left: 10%;
	padding-right: 10%;
	vertical-align: middle;
	margin:0 auto;
	width:100%;
/*	text-align: center;*/
}

#pictures{
	display:inline-block;
	vertical-align: middle;
	position:relative;
	/*margin:auto;*/
}

#wireframes{
	border:solid #d3d3d3 2px;
}

.wf_container{
padding-left: 15%;
padding-right:15%;
/*vertical-align: middle;*/
}

p.images{
    display:block;
    width:100%;
    text-align:center
}
p img{
    display:inline-block;
}

img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

p img.small{
	height: 100px;
	width:auto;
	display: block;
	vertical-align: middle;
}

.page{
	padding-left: 20%;
	padding-right: 15%;
	color:#000;
	vertical-align: middle;
	
}
li{
	color:#000;

}

.storyboard_container{
	vertical-align: middle;
	margin: 0 auto;
	display: inline-block;
	padding-left: 15%;
	padding-right: 15%;
}

figure{
	padding-left:10px;
	padding-right:5px;
	padding-top: 10px;
	padding-bottom: 10px;
	display:inline-block;
	vertical-align: middle;
	position:relative;
}
figcaption{
	/*padding-left: 15%;
	padding-right:15%;*/
	padding-top:5%;
	width:160px;
	font-size: 75%;
}

.storyboard{
	width:145px;
}


a{
	color:#30d1ce;
	text-decoration: none;
}
a:hover{
	color:#000000;	
	text-decoration: none;
}