
.container {
    padding-left:5%;
    padding-right:5%;
}


/* Header styles */
.header {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 95%;
}

.header h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    width: 50%;
    float: left;
    font-variant: small-caps;
    letter-spacing: 1px;
    line-height: 1.5;
    word-spacing: 2px;
    padding-left: 0.3375em
}
.header ul {
    position: relative;
    line-height: 6;
    text-align: right;
}

.header li {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
}

.header a{
    text-decoration: none;
}

/* Link styles */ 
a:link {
	color:black;
}
a:visited {
	color:black;
}
a:hover {
	color:black;
}
a:active {
	color:black;
}


/* Portfolio Section */
.section {
	padding-bottom:2%;
}

.row {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.row h3 {
	padding-left:10px;
	font-weight: 600;
}

.row h4{
	padding-left:10px;
	font-weight:100;
}

.column {
    float: left;
    width: 47%;
    padding:1%;
}

.row img{
  width:100%;
  max-height:100%;
}

/* Pages Styles */
.page {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8;
}

.page h1{
	text-align: center;
	font-weight: 1000;
}

.page img {
 	display: block;
    margin-left: auto;
    margin-right: auto;
    width:96%;
}

.page h2, h3 {
	padding-left: 20%;
	padding-right:20%;
	font-weight:600;
}

.caption {
	font-size:14px;
	text-align:center;
}

.caption a{
	text-decoration: underline;
	font-color:black;
}

.page p{
	padding-left: 20%;
	padding-right:20%;
	font-weight: 100;
}

.page ul{
	padding-left: 25%;
	padding-right:20%;
}


/* Responsive Layouts */
@media (max-width: 900px){
    .column {
        width: 100%;
    }
}


@media (max-width: 600px) {
    .header h1, ul li{
        text-align: center;
        width:100%;
        }
    .header ul li{
        position: relative;
        padding-right: 0.9375em;
        float: right;
        }
}


