
.container {
    padding-left:5%;
    padding-right:5%;
    margin:auto;
    max-width: 95%;
}


/* Header styles */
.header {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 95%;
}

.header h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    width: 50%;
    float: left;
    font-variant: small-caps;
    letter-spacing: 1px;
    line-height: 1.5;
    word-spacing: 2px;
    padding-left: 0.3375em;
}
.header ul {
    position: relative;
    line-height: 6;
    text-align: right;
}

.header li {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
}

.header a{
    text-decoration: none;
}
/*.header a:link{
    text-decoration: none;
    color:#D3D3D3;
}

.header a:visited {
    color:black;
}
.header a:hover {
    color:black;
}
.header a:active {
    color:black;
}*/

/* Link styles */ 
a:link {
	color:black;
}
a:visited {
	color:black;
}
a:hover {
	color:black;
}
a:active {
	color:black;
}




/* Portfolio Section */
.section {
	padding-bottom:2%;
}

.row {
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

.row h3 {
	padding-left:10px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.75px;
    word-spacing: 0.5px;
    font-weight:600;
    font-size:135%;
    margin-top:15px;
}

.row h4{
    padding-left:10px;
	font-weight: 300;
    letter-spacing: 0.25px;
    font-size:105%;
    margin-top: 15px;
}

.column {
    float: left;
    width: 47%;
    padding:1%;
}

.row img{
  width:100%;
  max-height:100%;
}

/* Pages Styles */
.page {
	font-family: 'Lato', sans-serif;
	line-height: 1.8;
    margin:auto;
    max-width: 95%;
    
}

.page h1{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    word-spacing: 2px;
	text-align: center;
	font-weight: 300;
    font-size: 220%;
}

.page img {
 	display: block;
    margin-left: auto;
    margin-right: auto;
    width:96%;
}

.page h2, h3 {
	padding-left: 20%;
	padding-right:20%;
    font-family: 'Oswald', sans-serif;
    margin-bottom:0px;
}

.page h2{
    font-size: 150%;
    font-weight:300;
    letter-spacing: 0.75px;
    word-spacing: 1.25px;
}

.page h3 {
    font-size: 125%;
    font-weight:620;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    }

/* About Page styles */

.about {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 66.66667%;
    float: left;
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
    font-weight:300;
}

.details h2{
    font-family: "Oswald", sans-serif;
    font-weight:500;
    left: 8.33333%;
    font-style:normal;
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 1px;
    padding-top:0px;
}
.details h3{
    font-family: "Lato", sans-serif;
    font-style:normal;
    font-weight:300;
    padding-left:0px;

}

.details {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 25%;
    left: 8.33333%;
    right: auto;
    float: left;
    font-family: "Lato", sans-serif;
    font-weight:300;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    line-height: 24px;
    list-style-type: none;
}

.space {
    padding-top:10px;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    display:inline-block;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}


/* more general page stuff */
.caption {
	font-size:12px;
	text-align:center;
}

.caption a{
	text-decoration: underline;
	font-color:black;
}

.page p{
	padding-left: 20%;
	padding-right:20%;
	font-weight: 300;
    letter-spacing: 0.25px;
    font-size:110%;
    margin-top:2.5px;
}

.page ul{
	padding-left: 25%;
	padding-right:20%;
    font-weight: 300;
    letter-spacing: 0.25px;
    font-size:110%;
}

.portrait {
	text-align: center;
}

.portrait img{
	display:inline-block;
    width: 27%;
    padding:1%;
}

.bodywidth{
    text-align: center;
}
.bodywidth img{
    display:inline-block;
    width: 80%;
    padding:1%;
}
/*
.footer {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: center;
    padding-bottom:20px;
}
*/
/* Responsive Layouts */
@media (max-width: 932px){
    .column {
        width: 100%;
    }
}

@media (max-width: 685px){
    .page p, h2, h3{
    	padding:1%;
}

@media (max-width: 685px){
    .portrait img{
    	display: block;
    	width:60%;
}

@media (max-width: 600px) {
    .header h1, ul li{
        text-align: center;
        width:100%;
        }
    .header ul li{
        position: relative;
        padding-right: 0.9375em;
        float: right;
        padding:5px;
        }
}


