html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/* Header */
.header{
	background-color:#fff;
	background-size:100% 100%;
	min-height:700px;
}
/* navbar */
.top-nav ul li a{
	color: #555a5a;
	padding: 0.1em 1em;
	font-size: 1.2em;
	font-weight: 500;
}
.top-nav ul li.active a{
	background: url(../images/selected.png) no-repeat 50% 100%;
}
.top-nav ul li a:hover{
	color:#30d1ce;
}

/* top-nav */
.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}
.top-nav:after {
    clear: both;
}
nav ul {
	padding: 0;
	float: right;
	margin: 2.2em 0;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	color: #555a5a;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a:hover{
	text-decoration:none;
	color:#30d1ce;
}
nav a#pull {
	display: none;
}
/*Styles for screen 600px and lower*/
@media screen and (max-width: 768px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 100%;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #eee;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
  	
}
/*Styles for screen 515px and lower*/
@media only screen and (max-width : 768px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
		margin:0;
		background: #fff;
		margin-top: 20px;
	}
	nav a#pull {
		display: block;
		position: relative;
		color: #000000;
		text-align: right;
		position: absolute;
		top:15px;
		right: 0px;
	}
	nav a#pull:after {
		content:"";
		background: url('nav.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	nav a#pull img{
		margin-right:2%;
	}
	.top-nav ul li a {
		color: #30d1ce;
		padding: 0em 0;
	}
}

.social{
	text-align: center;
	padding: 0em 0;
}

/*ul.social {
   display:block;
   list-style:none;
}
ul.social li{
    display:block;
    float:left;
    position:relative;
    margin:0 5px 5px 0;
}
ul.social li a{
    display:block;
    width:32px;
    height:32px;
    background-position:0 0;
}
ul.social li a.mail{
    display:block;
    background-position:0 0;
    background-image:url('images/mail.png');
}
ul.social li a.mail:hover{
    display:block;
    background-position:0 0;
    background-image:url('images/mail_hover.png');
}
ul.social li a.fb{
    display:block;
    background-position:-32px 0;
    background-image:url('images/fb.png');
}
ul.social li a.fb:hover{
    display:block;
    background-position:-32px 0;
    background-image:url('images/fb_hover.png');
}
ul.social li a.insta{
    display:block;
    background-position:-64px 0;
    background-image:url('images/insta.png');
}
ul.social li a.insta:hover{
    display:block;
    background-position:-64px 0;
    background-image:url('images/insta_hover.png');
}
*/

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #000000;
	}
}
/*Slide-text*/
.slide-text{
	margin-top: 10em;
}
.slide-text h1{
	color:#30d1ce;
	font-size: 3.2em;
	font-weight:700;
}
.slide-text span{
	color: #FFFFFF;
	font-size: 1.5em;
	display: block;
}
.slide-btn{
	color: #fff;
	background: #30d1ce;
	font-size: 1.2em;
	padding: 0.7em 1.8em;
	display: inline-block;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	margin-top: 0.5em;
}
.slide-btn:hover{
	background:#000000;
	color:#FFF;
	text-decoration:none;
}

/* About */
.about{
	padding:5em 0;
	background:#555a5a;
}

.about h3 {
	color: #fff;
	font-size: 2em;
	font-weight: 700;
}
.about p {
	color: #fff;
}

.about a {
	color: #30d1ce;
	text-decoration: none;
}

.about a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}
.about a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.skills h3{
	color: #8E999C;
	font-size: 1.1em;
	font-weight: 600;
}


/* Experience */
.experience{
	background: #000000;
	padding: 5em 0;
}
.experience h3{
	color:#FFF;
	font-size:2em;
	font-weight:700;
	margin: 0 0 0.5em 0; 
}
.experience p, ul {
	color: #FFF; 
}
.experience h2 {
	color: #FFF;
	font-size:1.5em;
	font-weight:200;
	margin: 0 0 0.5em 0;
}

/* Portfolio */
.portfolio-box{
	padding: 3.5em 0 0em;
}
#filters {
	margin: 0em 0 1.2em;
	padding: 0;
	list-style: none;
	text-align: center;
}
	#filters li {
		display:inline-block;
	}
	#filters li span {
		display: inline-block;
		padding: 10px 15px;
		text-decoration: none;
		color: #555a5a;
		cursor: pointer;
		font-size: 1em;
	}
	#filters li span.active {
		color: #30d1ce;
	}
 	#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 33.33333%;
		display:none;
		float:left;
		overflow:hidden;
		/*background: #000000;*/
	}	
	.portfolio-wrapper {
		overflow: hidden;
		position: relative !important;
		cursor: pointer;
	}
	.portfolio img {
		max-width:100%;
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
		display: block;
	}
	.porfolio h3{
		color: #000;
		font-size: 2em;
		font-weight: 700;
	}
	.portfolio h4{
		color: #000;
		font-size: 90%;
		font-weight: 400;
		text-align: center;
	}
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
	.portfolio .label-bg {
			background: #000000;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
			}

/*	Stripe */
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:#30d1ce;
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
.b-animate img{
	margin-top:38%;
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position: relative;
	left: -100%;
	background: rgba(252, 155, 126, 0.78);
	background-size: 100% 100%;
	top: 0px;
	margin: 0;
	min-height: 256px;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
/* SAP */
.sap_tabs{
	clear:both;
	padding: 0em 0 2em;
}
.tab_box{
	background:#30d1ce;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
text-align:center;
  list-style: none;
  margin: 3em 0;
}
.resp-tab-item{
	color:#30d1ce;
	font-size: 1em;
	 
	cursor: pointer;
	padding: 6px 25px ;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
	margin: 0 0.5em 0;
}
.resp-tab:hover{
	color:#000;
}
.resp-tab-active{
    text-shadow: none;
    color: #000000;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.img-top {	
	  position: relative;
}
.img-top {
    padding: 4px 4px !important;
}
.img-top img {
    width: 100%;
}
.link-top{
    position: absolute;
    top: 1%;
    width: 98%;
    background: #30d1ce;
    height: 98%;
    display: none;
    opacity: 0.9;
    padding: 1em 0 19px 15px;
    color: #fff;
}
.link-top h3{
	font-size: 20px;
	color:#000;
	margin-left: 5px;
	margin-right: 20px;
	text-align: center;
}

.link-top h2{
	font-size:20px;
	color:#FFF;
	text-align: center;
}
.link-top p{
	font-size: 13px;
	color:#000;
	margin-left: 0px;
	margin-right:5px;
	
}
.link-top a{
	color:#fff;
	text-decoration:none;
	text-align: center;

}
/*.link-top span {
	color:#fff;
	text-decoration:none;
	margin-left: 5px;
	margin-right: 20px;
	text-align: center;
}*/
.link-top a:hover,
a:focus {
  color: #000;
  text-decoration: none;
  text-align: center;
}
.link-top a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  text-align: center;
}

 i.link {
  background: url(../images/e.png)no-repeat 0px 0px ;
  width: 37px;
  height: 37px;
  display: inline-block;
  cursor: pointer;
 
}
.img-top:hover .link-top{
	display: block;
}
/* Portfolio Grid Text */
.port-grid-text{
	background: #000000;
	width: 50%;
	float: left;
	text-align: center;
	min-height: 256px;
	position:relative;
}
.port-grid-pic{
	width:50%;
	float:left;
}
.port-grid-text p{
	color: #FFF;
	margin-top: 7em;	
}
.arrow-icon1{
	height: 23px;
	width: 26px;
	display: block;
	background: url(../images/arrow-icon1.png) no-repeat 0px 0px;
	position: absolute;
	right: -20px;
	z-index: 999;
	top: 45%;
}
.port-grid-text-c{
	background:#000000;
}
.arrow-icon1-l{
	background: url(../images/left_arrow.png) no-repeat 0px 0px;
}
.arrow-icon1-r{
	background: url(../images/right_arrow.png) no-repeat 0px 0px;
	left: -20px;
}
/* Footer */
.footer{
	background:#555a5a;
}
.footer-left{
	text-align:center;
	margin:1.8em 0;
}
.footer-left a{
	text-align:center;
	color:#FFFFFF;
	text-decoration: none;
}
.footer-left a img{
	display:inline-block;
}
.footer-left p{
	color: #FFFFFF;
	margin:0.8em 0 0;
}
.footer-left p a{
	color:#00AEEF;
}
.footer-left p a:hover{
	text-decoration:none;
	color:#30d1ce;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 26px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/up.png") no-repeat 0px 0px;
	border-radius: 30em;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/* responsiveness */
@media (max-width:1366px){
	.port-grid-text {
		min-height: 217px;
	}
}
@media (max-width:1024px){
	.top-nav ul li a {
		font-size: 1em;
	}
	.header {
		min-height:500px;
	}
	.slide-text h1 {
		font-size: 2.5em;
	}
	.slide-text span {
		font-size: 1.5em;
	}
	.slide-btn {
		font-size: 1em;
		padding: 0.6em 1.5em;
	}
	.slide-text {
		margin-top:3em;
	}
	
	.col-md-7 {
		width: 50.333333%;
	}
	 .col-md-10 {
		width: 79.333333%;
		margin-left: 4%;
	}
	.post-head a {
		font-size: 1.3em;
	}
	.grid-point {
		right: -9.2%;
	}
	.contact-left {
		padding: 2.3em 3em;
	}
	.port-grid-text {
		min-height: 161px;
	}
	.link-top span {
	    display: none;
	}
}
@media (max-width:800px){
	.top-nav ul li a {
		font-size: 0.85em;
	}
	.header {
		min-height:450px;
	}
	.slide-text h1 {
		font-size: 2em;
	}
	.slide-text span {
		font-size: 1.1em;
	}
	.slide-btn {
		font-size: 1em;
		padding: 0.5em 1.2em;
	}
	.work {
		text-align: center;
	}
	.col-md-7, .head p{
		width: 100%;
	}
	div.col-md-3.features-grid {
	   margin-bottom: 30px;
	}
	.center-work-grid {
		margin-top: 3em;
	}
	.grid-point {
		top: -55px;
	} 
	#portfoliolist .portfolio {
		width:50%;
	}	
	.port-grid-text {
		min-height: 189px;
	}
	.port-grid-text p {
		margin-top:5.5em;
	}
	.col-md-10 {
		margin-left:0;
	}
}
@media (max-width:768px){
	.header {
		min-height:350px;
	}
	.top-nav ul li.active a {
		background: none;
	}
	.port-grid-text {
		min-height: 182px;
	}
	.img-top {
	    padding: 4px 4px !important;
	    width: 33.3333%;
	    float: left;
	}
	.link-top span {
	    display: none;
	}
	.link-top {
	    top: 77.6%;
	    width: 96.5%;
	    height: 21%;
	    padding: 1em 0 19px 15px;
	}
}
@media (max-width:640px){
	.port-grid-text {
		min-height: 151px;
	}
}
@media (max-width:600px){
	.resp-tabs-list {
	    padding: 0;
	}
	.resp-tab-item {
	    font-size: 11px;
	    padding: 6px 8px;
	    margin: 0 -3px 0;
	}
	.img-top {
	    width: 50%;
	    float: left;
	}
	.link-top {
	    position: absolute;
	    top: 81.6%;
	    width: 95.6%;
	    height: 12%;
	    padding: 6px 0 23px 15px;
	    line-height: 2em;
	}
}
@media (max-width:480px){
	.header {
		min-height:300px;
	}
	.slide-text h1 {
		font-size: 1.5em;
	}
	.slide-text span {
		font-size: 1em;
	}
	.slide-btn {
		font-size: 0.85em;
		padding: 0.5em 1em;
	}
	.head h3, .contact-left h3{
		font-size: 1.5em;
	}
	.head p, .features-grid p, .contact-left p{
		font-size: 0.85em;
	}
	.features-grid span, .work-grid span{
		height: 120px;
		width: 120px;
	}
	.features-grid span i {
		margin-top: 0.6em;
	}
	.features-grid h3 a {
		font-size: 0.95em;
	}
	.work, .features {
	   padding: 3em 0;
	}
	.features-grids {
	  padding: 2em 0 0em;
	}
	.port-grid-text p {
		margin-top:3em;
	}
	.port-grid-text {
		min-height: 111px;
	}
	.w-icon i {
		margin-top: 1.1em;
	}
}
@media (max-width:414px){
	.resp-tabs-list {
	    padding: 0;
	}
	.resp-tab-item {
	    font-size: 11px;
	    padding: 6px 8px;
	    margin: 0 -3px 0;
	}
	.img-top {
	    width: 50%;
	    float: left;
	}
	.link-top {
	    position: absolute;
	    top: 81.6%;
	    width: 95.6%;
	    height: 12%;
	    padding: 6px 0 23px 15px;
	    line-height: 2em;
	}
}
@media (max-width:375px){
	.resp-tabs-list {
	    padding: 0;
	}
	.resp-tab-item {
	    font-size: 11px;
	    padding: 6px 8px;
	    margin: 0 -3px 0;
	}
	.img-top {
	    width: 50%;
	    float: left;
	}
	.link-top {
	    position: absolute;
	    top: 79.6%;
	    width: 95%;
	    height: 12%;
	    padding: 6px 0 23px 15px;
	    line-height: 2em;
	}
}
@media (max-width:320px){
	.slide-text h1 {
		font-size: 1.2em;
	}
	.header {
		min-height:220px;
	}
	.slide-text span {
		font-size: 0.85em;
	}
	.slide-text {
		margin-top: 2em;
	}
	#portfoliolist .portfolio {
		width:100%;
	}	
	.port-grid-text {
		min-height: 146px;
	}
	
	.head p, .features-grid p {
		font-size: 0.8125em;
	}
	.head h3, .contact-left h3 {
		font-size: 1.2em;
	}
	.features-grid h3 a {
		font-size: 0.85em;
	}
	.features-grid span, .work-grid span {
		height: 100px;
		width: 100px;
	}
	
	.features-grid span i {
		margin-top: 0.4em;
	}
	.features {
		padding: 2em 0 0;
	}
	.center-work-grid {
		margin-top: 1em;
	}
	.w-icon i {
		margin-top: 0.8em;	
	}
	.portfolio-box {
		padding: 2.5em 0 0em;
	}
	.grid-point {
		display: none;
	}
	.footer-right span {
		width: 70px;
		height: 70px;
	}
	.footer-left p {
	   margin: 10px 0;
	}
	.footer-right span label {
		margin-top: 1em;
	}
	.resp-tabs-list {
	    padding: 0;
	}
	.resp-tab-item {
	    font-size: 11px;
	    padding: 6px 8px;
	    margin: 0 -3px 0;
	}
	.img-top {
	    width: 50%;
	    float: left;
	}
	.link-top {
	    position: absolute;
	    top: 75.6%;
	    width: 95%;
	    height: 12%;
	    padding: 6px 0 23px 15px;
	    line-height: 2em;
	}
}